<div class="row" id="header-row">
    <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
</div>



<p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM as well as the Mensa Garching.</p>

<div class="row" style="margin-top:10%">
    <div class="one-half column">
        <h3>FMI Bistro</h3>

        {% if fmiBistroWeek == null %}
            <p>An error occured while fetching the FMI Bistro menu.</p>
        {% else %}
            {% for day in fmiBistroWeek %}
                {% if  day.getDate() | date('Y-m-d') >= "now" | date('Y-m-d') %}
                    <strong>{{day.getDate() | date("l, F j")}}<sup>{{day.getDate() | date("S")}}</sup></strong>
                    <ul>
                    {% for dish in day %}
                        <li>{{ dish.getName() }} ({{ dish.getPrice() | number_format(2, '.', ',') }} €)</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="one-half column">
        <h3>Mensa Garching</h3>

        {% if mensaGarchingWeek == null %}
            <p>An error occured while fetching the Mensa Garching menu.</p>
        {% else %}
            {% for day in mensaGarchingWeek %}
                {% if  day.getDate() | date('Y-m-d') >= "now" | date('Y-m-d') %}
                    <strong>{{day.getDate() | date("l, F j")}}<sup>{{day.getDate() | date("S")}}</sup></strong>
                    <ul>
                    {% for dish in day %}
                        <li>{{ dish.getName() }} ({{ dish.getPrice() | number_format(2, '.', ',') }} €)</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
