<div class="row" id="header-row">
    <h1 id="sexy-name">TUM<strong>.sexy</strong></h1>
    <div id="github-star-container">
        <a class="github-button" href="https://github.com/mammuth/TUM.sexy/" data-icon="octicon-star" data-style="mega" data-count-href="/mammuth/TUM.sexy/stargazers"
           data-count-api="/repos/mammuth/TUM.sexy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mammuth/TUM.sexy on GitHub">Star</a>
    </div>
</div>
<span id="searchbox-wrapper"><input type="text" id="searchbox" placeholder="Search"/></span>
<main id="main">
    <div class="row" style="margin-top:10%">
        <div class="twelve column">
            <div class="section-header">
                <h3 data-ss-nofilter>Redirects</h3>
                <p data-ss-nofilter>
                    No need for remembering long and ugly urls or bookmarks &ndash; Just use these redirects!
                </p>
            </div>

            <div class="row">
                    {% for section,elements in routes %}
                        {% if loop.index % 2 == 0 %}
                            </div><div class="one-half column semester" data-ss-forceadditional="{{ section }}">
                        {% endif %}
                        {% if loop.index % 2 == 1 %}
                            {% if loop.index != 1 %}</div>{%endif%}<div class="one-half column semester" data-ss-forceadditional="{{ section }}">
                        {% endif %}
                        <h4>{{ section }}</h4>
                        {% for route in elements %}
                            <li>{{ route.desc }} — <a href="https://{{ route.sub }}.tum.sexy">{{ route.sub }}.tum.sexy</a></li>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10%">
        <div class="one-half column subsection">
            <h3>About</h3>
            <ul>
                <li>If you want to <strong>update or add redirects</strong>, take a look at the instructions on the <a href="https://github.com/mammuth/TUM.sexy/tree/master/redirect" target="_blank">Github
                        Repo!</a></li>
                <li>You have an idea for how to improve this site? Feel free to <strong>contribute</strong> on our <a href="https://github.com/mammuth/TUM.sexy" target="_blank">GitHub Page</a>!
                <li>Contact: <a href="mailto:heilig@tum.sexy">heilig@tum.sexy</a></li>
                <li>The <a href="https://app.tum.de">Campus App</a> Team is looking for a working student! Contact our friends at <a href="mailto:app@tum.de">app@tum.de</a></li>

            </ul>
            {# <h3>Buy us a beer</h3>
            <div>
                Coding makes us thirsty. Buy us a beer!
                <form action="donate.php" method="post">
                    <span id="moneyField">
                        <i>€</i>
                        <input class="form-control" value="3" type="number" name="amount" id="moneyFieldInput" />
                    </span>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="stripeField"
                            data-key="{{ stripe_publishable_key }}"
                            data-description="TUM.sexy Donation"
                            data-locale="auto"
                            data-label="Donate!"
                            data-currency="eur"></script>
                </form>
            </div> #}
        </div>
        <div class="one-half column subsection">
            <h3>Projects / Links</h3>
            <ul>
                <li><a href="https://cal.bruck.me">Calendar Proxy</a>
                    <ul>
                        <li>Nice and easy proxy to remove some clutter from the TUM online iCal export. E.g.: replaces 'Tutorübung' with 'TÜ' and Google Now readable locations</li>
                    </ul>
                </li>
                <li><a href="https://github.com/lukaskollmer/tum-lecture-download">tum-lecture-download</a>
                    <ul>
                        <li>Chrome extension to download lecture recordings from streams.tum.de and lecturio</li>
                    </ul>
                </li>
                <li>FMI Bistro “Speiseplan” — <a href="https://hunger.tum.sexy">hunger.tum.sexy</a></li>
                <li>MI Raumbelegungen — <a href="https://rooms.tum.sexy">rooms.tum.sexy</a></li>
                <li>HowTo: Configure eduroam securely - <a href="https://eduroam.tum.sexy">eduroam.tum.sexy</a></li>
                <li><a href="https://tum.sexy/pret">Sexi Pretschi Game</a></li>
                <li><a href="https://docs.google.com/document/d/1eW6DmvvKoolAWRMp6P3tMts-XWSb263Ap97LyRQ5Wno/edit?usp=sharing">Ersti Tipps</a></li>
            </ul>
        </div>
    </div>
</main>
<div class="padding"></div>
<script type="text/javascript" src="/js/staticsearch.js"></script>
<script type="text/javascript">
    (function(){
        function patNorm(str) {
            return str.normalize("NFKD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
        }
        function strNorm(str) {
            return str.trim().normalize("NFKD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
        }

        let mysearch = staticsearch(document.getElementById("main"), {tomark:true, transformPattern:patNorm, transformStr:strNorm});
        let searchbox = document.getElementById("searchbox");

        searchbox.addEventListener('input', function(evt) {
            let pattern = this.value;
            mysearch.filter(pattern);
        });

        searchbox.focus();
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
            let offtop = searchbox.getBoundingClientRect().top + document.body.scrollTop;
            document.documentElement.scrollTop = offtop;
        }
    })();
</script>
{% if cats == "show" %}
    <script async defer src="/js/cats.js"></script>
{% endif %}
