<h3>{{ title }}</h3>

{% if week == null %}
    <p>An error occured while fetching the {{ title }} menu.<br/>
        <a href="{{ fallback_url }}">Menu by bistro owner (PDF)</a></p>
{% else %}
    {% for day in week[:5] %}

        <h5>{{ day.getDate() | date("l, F j") }}<sup>{{ day.getDate() | date("S") }}</sup></h5>
        <ul class="hunger-menu">
            {% for dish in day %}
                <li 
                    onclick="void(0)">
                    <span class="item-title">{{ dish.getName() }}</span>
                    <span class="item-price">{{ dish.getPrice() | number_format(2, '.', ',') }}€</span>
                </li>
            {% endfor %}
            {% if fixed_dishes != null and fixed_dishes[loop.index0] != null %}
                {% for dish in fixed_dishes[loop.index0] %}
                    <li onclick="void(0)">
                        <span class="item-special"></span>
                        <span class="item-title">{{ dish.getName() }}</span>
                        <span class="item-price">{{ dish.getPrice() | number_format(2, '.', ',') }} €</span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endfor %}
{% endif %}
