<h3>{{ title }}</h3>
{% if feeding_hours is defined %}
    <h5 class="opening-hours" data-hours="{{ opening_hours }}">Open {{ opening_hours }}</h5>
    <h5 class="feeding-hours" data-hours="{{ feeding_hours }}">Food {{ feeding_hours }}</h5>
{% else %}
    <h5 class="opening-feeding-hours" data-hours="{{ opening_hours }}">Open & Food {{ opening_hours }}</h5>
{% endif %}

{% if week == null %}
    <p>An error occured while fetching the {{ title }} menu.<br />
    <a href="{{ fallback_url }}">Menu by bistro owner (PDF)</a></p>
{% else %}
    {% for day in week[:5] %}
        <strong>{{day.getDate() | date("l, F j")}}<sup>{{day.getDate() | date("S")}}</sup></strong>
        <ul class="hunger-menu">
        {% for dish in day %}
            <li data-balloon="{{ dish.getPrice() | number_format(2, '.', ',') }} €" data-balloon-pos="up" onclick="void(0)">
                {{ dish.getName() }}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
